* {
  box-sizing: border-box;
}

body, .root, .app, .simulation{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app{
  display: flex;
  background: gray;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.simulation{
  position: relative;
  width: min(75vw, 75vh);
  height: min(75vw, 75vh);
  margin: auto;
  background: black;
  border: 0;
}

.object{
  position: absolute;
}

.Voter{
  border-radius: 50%;
  border-color: gray;
  border-block: solid;
  background: darkgrey;
}

.stable{
  background: blue;
}

.VoterCamp{
  background: black;
  border-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VoterCamp h3{
  color: white;
  text-align: center;
}