body, .root, .app, .simulation{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app{
  position: relative;
  background: black;
}

.simulation{
  background: black;
  overflow: hidden;
}

.object{
  position: absolute;
  border-radius: 50%;
  border: 4px solid gray;
  background: darkgrey;
}