* {
  box-sizing: border-box;
}

body, .root, .app, .simulation{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app{
  display: flex;
  background: gray;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.simulation{
  position: relative;
  width: 750px;
  height: 750px;
  margin: auto;
  background: black;
  border: 0;
}

.object{
  position: absolute;
  border-radius: 50%;
  border: 4px solid gray;
  background: darkgrey;
}